---
import LifeBar from "./LifeBar.astro";
import SequenceGui from "./SequenceGui.astro";
---
<div style="display: inline; float: left;">
    <div>
        <div id="outcome">Ready?</div>
        <LifeBar/>
        <SequenceGui/>
    </div>

    <div>
        <div id="playerTime"></div>
    </div>
</div>