<div id="arrowHUD">
    <div class="container">
        <div class="upArrow">
            <img
                    id="arrowUp"
                    alt="Keyboard up arrow"
                    src="/images/arrowUp.jpg"
                    style="display: inherit; height: 100%; width: 100%;"
            >

            <img
                    id="arrowUpPressed"
                    alt="Keyboard up arrow pressed"
                    src="/images/arrowUpPressed.jpg"
                    style="display: none; height: 100%; width: 100%;"
            >
        </div>

        <div class="leftArrow">
            <img
                    id="arrowLeft"
                    alt="Keyboard left arrow"
                    src="/images/arrowLeft.jpg"
                    style="display: inherit; height: 100%; width: 100%;"
            >

            <img
                    id="arrowLeftPressed"
                    alt="Keyboard left arrow pressed"
                    src="/images/arrowLeftPressed.jpg"
                    style="display: none; height: 100%; width: 100%;"
            >
        </div>

        <div class="downArrow">
            <img
                    id="arrowDown"
                    alt="Keyboard down arrow"
                    src="/images/arrowDown.jpg"
                    style="display: inherit; height: 100%; width: 100%;"
            >

            <img
                    id="arrowDownPressed"
                    alt="Keyboard down arrow pressed"
                    src="/images/arrowDownPressed.jpg"
                    style="display: none; height: 100%; width: 100%;"
            >
        </div>

        <div class="rightArrow">
            <img
                    id="arrowRight"
                    alt="Keyboard right arrow"
                    src="/images/arrowRight.jpg"
                    style="display: inherit; height: 100%; width: 100%;"
            >

            <img
                    id="arrowRightPressed"
                    alt="Keyboard arrow right pressed"
                    src="/images/arrowRightPressed.jpg"
                    style="display: none;"
            >
        </div>
    </div>
</div>