<div>
    <img class="hearts" id="life1" src="/images/heart.png">
    <img class="hearts" id="life2" src="/images/heart.png">
    <img class="hearts" id="life3" src="/images/heart.png">
    <img class="hearts" id="life4" src="/images/heart.png">
    <img class="hearts" id="life5" src="/images/heart.png">
</div>