<div>
    <div id="raceTrack" style="width: 100%;">
        <div id="racerIcons">
            <img id="playerIcon" src="/images/dog.gif">
            <img id="bot1Icon" class="botIcon" src="">
            <img id="bot2Icon" class="botIcon" src="/images/horse.gif">
            <img id="bot3Icon" class="botIcon" src="/images/horse.gif">
            <img id="bot4Icon" class="botIcon" src="/images/horse.gif">
        </div>
    </div>
</div>