<div>
    <div id="arrowSequence1" style="color: orange;">Error: Sequence Not Loaded</div>
    <div id="arrowSequence2">Error: Sequence Not Loaded</div>
    <div id="arrowSequence3">Error: Sequence Not Loaded</div>
    <div id="arrowSequence4">Error: Sequence Not Loaded</div>
</div>