<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horse Racing Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/main.css')}}">
    <audio id="happyBark">
        <source src="{{url_for('static', filename='sounds/mixkit-happy-puppy-barks-741(3).mp3')}}" type="audio/mpeg">
    </audio>
    <audio id="homeScreenAudio">
        <source src="{{url_for('static', filename='sounds/2021-08-16_-_8_Bit_Adventure_-_www.FesliyanStudios.com.mp3')}}" type="audio/mpeg">
    </audio>
</head>

<body>
    <!--Places / Race Status-->

    <div style="display: inline; float: left;">
        <div>
            <div id="outcome">Ready?</div>
            <div>
                <img class="hearts" id="life1" src="{{url_for('static', filename='images/heart.png')}}">
                <img class="hearts" id="life2" src="{{url_for('static', filename='images/heart.png')}}">
                <img class="hearts" id="life3" src="{{url_for('static', filename='images/heart.png')}}">
                <img class="hearts" id="life4" src="{{url_for('static', filename='images/heart.png')}}">
                <img class="hearts" id="life5" src="{{url_for('static', filename='images/heart.png')}}">
            </div>
            <div>
                <div id="arrowSequence1" style="color: orange;">Error: Sequence Not Loaded</div>
                <div id="arrowSequence2">Error: Sequence Not Loaded</div>
                <div id="arrowSequence3">Error: Sequence Not Loaded</div>
                <div id="arrowSequence4">Error: Sequence Not Loaded</div>
            </div>
        </div>
        <!--Player-->
        <div>
            <div id="playerTime"></div>
        </div>
    </div>
    <div style="display: inline; float: right;">
        <h1 id="gameMode">Button Mash</h1>
        <div id="difficulty">Easy</div>
    </div>
    <!--Racetrack-->
    <div>
        <div id="raceTrack" width="100%">
            <div id="racerIcons">
                <img id="playerIcon" src="{{url_for('static', filename='images/dog.gif')}}">
                <img id="bot1Icon" class="botIcon" src="">
                <img id="bot2Icon" class="botIcon" src="{{url_for('static', filename='images/horse.gif')}}">
                <img id="bot3Icon" class="botIcon" src="{{url_for('static', filename='images/horse.gif')}}">
                <img id="bot4Icon" class="botIcon" src="{{url_for('static', filename='images/horse.gif')}}">
            </div>
        </div>
    </div>
    <!--Start-->
    <div id="startButton">
        <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='images/start.jpg')}}"></a>
    </div>
    <!--Arrows-->
    <div id="arrowHUD">
        <div class="container">
            <div class="upArrow">
                <img id="arrowUp" src="{{url_for('static', filename='images/arrowUp.jpg')}}" style="display: inherit;" height="100%" width="100%">
                <img id="arrowUpPressed" src="{{url_for('static', filename='images/arrowUpPressed.jpg')}}" style="display: none;" height="100%"
                    width="100%">
            </div>
            <div class="leftArrow">
                <img id="arrowLeft" src="{{url_for('static', filename='images/arrowLeft.jpg')}}" style="display: inherit;" height="100%" width="100%">
                <img id="arrowLeftPressed" src="{{url_for('static', filename='images/arrowLeftPressed.jpg')}}" style="display: none;" height="95%"
                    width="95%">
            </div>
            <div class="downArrow">
                <img id="arrowDown" src="{{url_for('static', filename='images/arrowDown.jpg')}}" style="display: inherit;" height="100%" width="100%">
                <img id="arrowDownPressed" src="{{url_for('static', filename='images/arrowDownPressed.jpg')}}" style="display: none;" height="95%"
                    width="95%">
            </div>
            <div class="rightArrow">
                <img id="arrowRight" src="{{url_for('static', filename='images/arrowRight.jpg')}}" style="display: inherit;" height="100%" width="100%">
                <img id="arrowRightPressed" src="{{url_for('static', filename='images/arrowRightPressed.jpg')}}" style="display: none;" height="95%"
                    width="95%">
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='/scripts/script.js')}}" onload="initialiseGame()"></script>
</body>

</html>

</html>