<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Underdog</title>
        <link rel="icon" type="image/x-icon" href="/images/dog.gif">
        <link rel="stylesheet" href="/stylesheets/main.css">

        <!--<audio id="happyBark">-->
        <!--    <source src="{{url_for('static', filename='sounds/mixkit-happy-puppy-barks-741(3).mp3')}}" type="audio/mpeg">-->
        <!--</audio>-->
        <!--<audio id="homeScreenAudio">-->
        <!--    <source src="{{url_for('static', filename='sounds/2021-08-16_-_8_Bit_Adventure_-_www.FesliyanStudios.com.mp3')}}" type="audio/mpeg">-->
        <!--</audio>-->
    </head>

    <body>
        <slot />
    </body>
</html>